<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>blue_boxCheckmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,10},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>blue_boxCross.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,66},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>blue_boxTick.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,856},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>blue_button00.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,10},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>blue_button01.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,424},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>blue_button02.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,10},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>blue_button03.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,424},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>blue_button04.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,79},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>blue_button05.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,475},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>blue_button06.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,355},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>blue_button07.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,355},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>blue_button08.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,646},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>blue_button09.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,424},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>blue_button10.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,646},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>blue_button11.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,424},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>blue_button12.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,652},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>blue_button13.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,79},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>blue_checkmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,906},{21,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,20}</string>
			</dict>
			<key>blue_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,830},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>blue_cross.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,830},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>blue_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,10},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>blue_sliderDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,583},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>blue_sliderLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,817},{39,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,31}</string>
			</dict>
			<key>blue_sliderRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,817},{39,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,31}</string>
			</dict>
			<key>blue_sliderUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,645},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>blue_tick.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,966},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>dropdownBottom.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,749},{190,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,24}</string>
			</dict>
			<key>dropdownMid.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,749},{190,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,24}</string>
			</dict>
			<key>dropdownTop.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,793},{190,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,24}</string>
			</dict>
			<key>green_boxCheckmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{976,122},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>green_boxCross.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,178},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>green_boxTick.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,841},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>green_button00.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,79},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>green_button01.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,489},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>green_button02.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,79},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>green_button03.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,489},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>green_button04.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,148},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>green_button05.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,540},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>green_button06.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,370},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>green_button07.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,370},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>green_button08.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,700},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>green_button09.png</key>
			<dict>
				<key>frame</key>
				<string>{{832,439},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>green_button10.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,700},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>green_button11.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,439},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>green_button12.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,711},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>green_button13.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,148},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>green_checkmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,953},{21,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,20}</string>
			</dict>
			<key>green_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,841},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>green_cross.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,868},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>green_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,130},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>green_sliderDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,707},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>green_sliderLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,817},{39,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,31}</string>
			</dict>
			<key>green_sliderRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,865},{39,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,31}</string>
			</dict>
			<key>green_sliderUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,769},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>green_tick.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,837},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>grey_arrowDownGrey.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1004},{15,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,10}</string>
			</dict>
			<key>grey_arrowDownWhite.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,1001},{15,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,10}</string>
			</dict>
			<key>grey_arrowUpGrey.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,1004},{15,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,10}</string>
			</dict>
			<key>grey_arrowUpWhite.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,1004},{15,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{15,10}</string>
			</dict>
			<key>grey_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,234},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>grey_boxCheckmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,290},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>grey_boxCross.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,346},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>grey_boxTick.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,886},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>grey_button00.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,554},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>grey_button01.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,148},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>grey_button02.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,554},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>grey_button03.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,148},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>grey_button04.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,605},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>grey_button05.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,10},{195,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{195,49}</string>
			</dict>
			<key>grey_button06.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,10},{191,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{191,49}</string>
			</dict>
			<key>grey_button07.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,493},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>grey_button08.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,493},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>grey_button09.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,711},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>grey_button10.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,508},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>grey_button11.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,717},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>grey_button12.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,508},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>grey_button13.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,765},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>grey_button14.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,217},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>grey_button15.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,217},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>grey_checkmarkGrey.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,993},{21,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,20}</string>
			</dict>
			<key>grey_checkmarkWhite.png</key>
			<dict>
				<key>frame</key>
				<string>{{936,961},{21,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,20}</string>
			</dict>
			<key>grey_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{680,886},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>grey_crossGrey.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,847},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>grey_crossWhite.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,885},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>grey_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,250},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>grey_sliderDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,831},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>grey_sliderEnd.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,475},{8,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{8,10}</string>
			</dict>
			<key>grey_sliderHorizontal.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,793},{190,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,4}</string>
			</dict>
			<key>grey_sliderLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,865},{39,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,31}</string>
			</dict>
			<key>grey_sliderRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,912},{39,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,31}</string>
			</dict>
			<key>grey_sliderUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,893},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>grey_sliderVertical.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,355},{4,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{4,100}</string>
			</dict>
			<key>grey_tickGrey.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,837},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>grey_tickWhite.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,837},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>red_boxCheckmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,402},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>red_boxCross.png</key>
			<dict>
				<key>frame</key>
				<string>{{970,458},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>red_boxTick.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,847},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>red_button00.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,619},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>red_button01.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,217},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>red_button02.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,619},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>red_button03.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,514},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>red_button04.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,562},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>red_button05.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,765},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>red_button06.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,562},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>red_button07.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,776},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>red_button08.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,577},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>red_button09.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,776},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>red_button10.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,217},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>red_button11.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,286},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>red_button12.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,670},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>red_button13.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,286},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>red_checkmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,993},{21,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,20}</string>
			</dict>
			<key>red_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,897},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>red_cross.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,923},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>red_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,355},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>red_sliderDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{984,955},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>red_sliderLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,942},{39,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,31}</string>
			</dict>
			<key>red_sliderRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,953},{39,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,31}</string>
			</dict>
			<key>red_sliderUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,865},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>red_tick.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,993},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>yellow_boxCheckmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,800},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>yellow_boxCross.png</key>
			<dict>
				<key>frame</key>
				<string>{{626,830},{38,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{38,36}</string>
			</dict>
			<key>yellow_boxTick.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,897},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>yellow_button00.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,286},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>yellow_button01.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,684},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>yellow_button02.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,286},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>yellow_button03.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,684},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>yellow_button04.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,355},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>yellow_button05.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,735},{190,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,45}</string>
			</dict>
			<key>yellow_button06.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,577},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>yellow_button07.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,583},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>yellow_button08.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,782},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>yellow_button09.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,631},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>yellow_button10.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,800},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>yellow_button11.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,631},{49,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,49}</string>
			</dict>
			<key>yellow_button12.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,800},{49,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,45}</string>
			</dict>
			<key>yellow_button13.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,355},{190,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{190,49}</string>
			</dict>
			<key>yellow_checkmark.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,888},{21,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,20}</string>
			</dict>
			<key>yellow_circle.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,903},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>yellow_cross.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,928},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>yellow_panel.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,355},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>yellow_sliderDown.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,942},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>yellow_sliderLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{877,959},{39,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,31}</string>
			</dict>
			<key>yellow_sliderRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{10,837},{39,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,31}</string>
			</dict>
			<key>yellow_sliderUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,946},{28,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,42}</string>
			</dict>
			<key>yellow_tick.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,993},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>